@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');

*{
    border-radius: 5px;
}
body {
    background-color: #C8F4F6; /* Fundo claro */
    font-family: 'Happy Monkey', cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: #020F51; /* Texto escuro para contraste */
    font-family: 'Happy Monkey', cursive;
    padding: 10px;
}

img {
    width: 15%
}

.card {
    position: relative;
    background-size: cover; /* Ajusta a imagem para cobrir todo o card */
    background-position: center; /* Centraliza a imagem de fundo */
    color: white; /* Cor do texto */
    width: 350px; /* Largura do card */
    margin-bottom: 30px; /* Espaçamento entre os cards */
}



/* Ajustes para os cards dentro das colunas */
.col-md-6.col-lg-4 {
    display: flex;
    justify-content: center; /* Centraliza o card na coluna */
    margin-bottom: 20px; /* Espaçamento entre as linhas de cards */
}
 .card-body {
    position: relative; /* Posiciona de forma absoluta dentro do card */
    top: 10px; /* Espaçamento do topo */
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translateX(-50%); /* Centraliza perfeitamente */
    width: 80%; /* Largura menor que o card */
  
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
  
    padding: 10px;
   
 }
/* Media query para ajustes em telas menores */
@media (max-width: 992px) {
    .col-md-6.col-lg-12 {
        flex: 0 0 50%; /* Dois cards por linha em telas médias */
        max-width: 50%;
    }

    
}




@media (max-width: 768px) {
    .col-md-6.col-lg-12 {
        flex: 0 0 100%; /* Um card por linha em telas pequenas */
        max-width: 100%;
    }

    h3 {
        font-size: 20px;
    }
    
    

    h1 {
        font-size: 30px;

    }

    h4{
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    
}


@media (max-width: 768px) {
    .col-md-4.col-lg-12 {
        flex: 0 0 100%; /* Um card por linha em telas pequenas */
        max-width: 100%;
    }

    h3 {
        font-size: 20px;
    }
    
    

    h1 {
        font-size: 30px;

    }

    h4{
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    
}

#card1 {
    background-image: url('./imagens/card1.png');
    width: 100%;
    
    display: flex;
    justify-content: center;
}

#card2 {
    background-image: url('./imagens/card2.png');
    width: 100%;
    
    display: flex;
    justify-content: center;
}

#card3 {
    background-image: url('./imagens/card3.png');
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    
}

.opacidade-texto{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
}

#container-opacidade {
    background-color: rgba(255, 255, 255, 0);
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f1ffff;
    justify-content: flex-end;
    text-align: center;
}

.container-produto {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f1ffff;
    justify-content: flex-end;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.content-right {
    margin-top: 20px;
    text-align: center;
    margin-left: 50%; /* Empurra o container para começar da metade da página para a direita */
    max-width: 50%; /* Opcional: limita a largura do container para a metade da página */
    
}

/* Media query para telas menores */
@media (max-width: 992px) {
   .content-right{
    margin-top: 10px;
    text-align: center;
    margin-left: 12%;
    max-width: 80%
   }
}





.navbar {
    width: 100%;
    background-color: #006A74; /* Verde calmo */
    display: flex; /* Torna a navbar um container flexível */
    justify-content: last baseline; /* Espaço entre o logo e o menu */
    align-items: center; /* Alinhar itens verticalmente */
}




.navbar-nav {
    display: flex; /* Para alinhar os itens da nav horizontalmente */
}

.nav-link {
    color: white; /* Cor do link */
    text-align: center;
    padding-bottom: 5px; /* Espaço abaixo do texto do link */
    transition: border-bottom 0.3s; /* Transição suave para o traço */
}

.nav-link:hover {
    border-bottom: 2px solid white; /* Traço embaixo do link ao passar o mouse */
}

.navbar-brand {
    flex: 1; /* A logo pode crescer para ocupar espaço */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha a logo para o início (esquerda) */
}

.navbar-brand img {
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
}

.navbar-nav .nav-link {
    color: white;
    text-align: center;
}

.nav-item {
    margin: 0 10px;
}

#home-background {
    background-image: url('imagens/Home.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    min-height: 80vh; /* Define uma altura mínima para o elemento */
    width: 100%;
    padding: 25px;
}

#contato-background {
    background-image: url('imagens/inicio.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    min-height: 80vh; /* Define uma altura mínima para o elemento */
    width: 100%;
    padding: 25px;
}

#sobre-background {
    background-image: url('imagens/outras.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    min-height: 80vh; /* Define uma altura mínima para o elemento */
    width: 100%;
    padding: 25px;
}

#saude_mental-background {
    background-image: url('imagens/outras.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    min-height: 80vh; /* Define uma altura mínima para o elemento */
    width: 100%;
    padding: 25px;
}

#produtos-background {
    background-image: url('imagens/outras.png');
    background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    min-height: 80vh; /* Define uma altura mínima para o elemento */
    width: 100%;
    padding: 25px;
}

#div-titulo {
    background-color:rgb(255, 255, 255);
    padding-bottom: 5%;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.4);
}

#titulo {
    text-align:center;
    background-color:#f1ffff;
    background-color: rgba(255, 255, 255, 0.8);
}

.card-produtos {
    flex:1;
    width: 100%; /* Largura do card */
    overflow: hidden; /* Garante que nada saia dos limites do card */
    border-radius: 10px; /* Bordas arredondadas para o card */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para um efeito elevado */
    background-color: #fff; /* Fundo branco para o corpo do card */
    margin-bottom: 30px; /* Espaço abaixo do card */
    justify-content: space-between; /* Espaço entre o topo e o fundo */
}

.card-produtos .card-img-top {
    width: 100px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    object-fit: cover; /* Garante que a imagem cubra o espaço disponível */
}

.card-produtos .card-body-produto {
    padding: 15px; /* Espaço interno para o texto */
    
}
.read-more-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: #0056b3;
}

.card-text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* Ajustes para os cards dentro das colunas */
.col-md-6.col-lg-4 {
    display: flex;
    justify-content: center; /* Centraliza o card na coluna */
    margin-bottom: 20px; /* Espaçamento entre as linhas de cards */
    flex-direction: column; /* Altera a direção para coluna */
}

/* Media query para telas menores */
@media (max-width: 992px) {
    .col-md-6.col-lg-4 {
        flex: 0 0 100%; /* Um card por linha em telas médias */
        max-width: 100%;
    }
}

/* Media query para telas menores ainda */
@media (max-width: 767px) {
    .col-md-6.col-lg-4 {
        flex: 0 0 100%; /* Um card por linha em telas pequenas */
        max-width: 100%;
    }
}








